body {
background-color: lightgray;
color: blue;
padding: 5px;
}

#image {
float: left;
}

#description {
float: right;
}

#reviews {
clear: both;

}

p {
  padding: 10px;
  margin: 10px;
  
  /* other styling */
  background-color: #33475b;
  border-radius: 20px;
  color: white;
  font-family: Avenir;
}